* {
  @include box-sizing;
  line-height: 1.75;
}

html,
body {
  color: $default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: $sans-serif;
  font-size: 15px;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
  background: $white;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

a {
  color: $primary;
  text-decoration: none;
  @include transition(color .15s ease);

  &:hover {
    color: $primary-light;
  }
}

blockquote {
  border-left: 3px solid $border-color;
  color: $default-tint;
  margin: 1.5rem 0;
  padding: 0 0 0 1.25rem;
  font-style: italic;

  p:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  margin: 2rem 0;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid $border-color;
}

td {
  vertical-align: top;
}

::selection {
  background: $primary-muted;
  color: $default-shade;
}

// 等宽字体工具类
.mono {
  font-family: $monospaced;
}
