.container {
  margin: 0 auto;
  max-width: 680px;
  width: 90%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 680px;
  width: 90%;
}

.nav {
  border-bottom: 1px solid $border-color;
  overflow: auto;

  &-container {
    margin: 0 auto;
    padding: 1.5rem 0;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(color .15s ease);
    color: $default-shade;
    display: inline-block;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0;
    letter-spacing: -0.02em;

    &:hover,
    &:focus {
      color: $primary;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 0 1.25rem 0 0;

    &:last-child {
      padding-right: 0;
    }
  }

  a {
    color: $default-tint;
    font-family: $sans-serif;
    font-size: .9rem;

    &:hover {
      color: $default-shade;
    }
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

footer {
  font-family: $sans-serif;
  padding: 3rem 0;
  text-align: center;
  border-top: 1px solid $border-color;
  margin-top: 3rem;

  span {
    color: $grey-1;
    font-size: .85rem;
  }

  .footer-products {
    margin-bottom: 1rem;

    a {
      color: $default-tint;
      font-size: .85rem;
      text-decoration: none;

      &:hover {
        color: $primary;
      }
    }

    .footer-sep {
      color: $grey-2;
      margin: 0 .5rem;
    }
  }
}
