.pagination {
  font-family: $sans-serif;
  padding-top: 2rem;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  border-top: 1px solid $border-color;

  span {
    color: $default-tint;
    font-size: .9rem;
  }

  .top {
    @include transition(color .15s ease);
    color: $default-tint;
    font-family: $monospaced;
    font-size: .85rem;

    &:hover {
      color: $primary;
    }
  }

  .arrow {
    @include transition(color .15s ease);
    color: $default-tint;
    font-size: 1.25rem;
    position: absolute;

    &:hover,
    &:focus {
      color: $primary;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
