.post {
  padding: 2.5rem 0;

  &-info {
    color: $default-tint;
    font-family: $monospaced;
    font-size: .85rem;
    margin-bottom: .75rem;

    span {
      display: none;
    }
  }

  &-title {
    font-family: $sans-serif;
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: $default-shade;
    letter-spacing: -0.02em;
    line-height: 1.3;

    @media (min-width: 600px) {
      font-size: 2.25rem;
    }
  }

  &-line {
    display: none;
  }

  p {
    margin: 0 0 1.5rem;
  }

  a {
    color: $primary;
    text-decoration: underline;
    text-decoration-color: rgba($primary, 0.3);
    text-underline-offset: 2px;

    &:hover {
      text-decoration-color: $primary;
    }
  }

  img {
    margin: 2rem 0;
  }

  img + em {
    color: $grey-1;
    display: block;
    font-family: $sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    text-align: center;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $border-color;
  }

  h3 {
    font-size: 1.15rem;
    margin-top: 2rem;
    margin-bottom: .75rem;
  }

  h4 {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
  }

  ul, ol {
    margin: 0 0 1.5rem;
    padding-left: 1.5rem;

    li {
      margin-bottom: .5rem;
    }
  }

  hr {
    border: none;
    border-top: 1px solid $border-color;
    margin: 3rem 0;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
    border: none;
  }
}
